/* MAIN */
.home-sect:first-child {
    height: calc(100vh - 81px);
    background-color: green;
}
.home-sect {
    position: relative;
    background-color: red;
    width: 100%;
    height: 500px;
}
/* END MAIN */